*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    width:99%;
    margin:auto;
}
#check{
    display:none;
}
/* side bar start */
.sideBarIcon{
    width:40px;
    height:22px;
    cursor:pointer;
    display: none;
}

.spinner{
    height:3px;
    width:40px;
    background-color: #fff;
    transition: all 0.3s;
}
.middle{
    margin:6px 0;
}
#check:checked~.sideBarIcon>.middle{
    opacity:0;
}
#check:checked~.sideBarIcon>.top{
    transform: rotate(130deg);
    margin-top:10px;
}
#check:checked~.sideBarIcon>.bottom{
    transform: rotate(-130deg);
    margin-top:-15px;
}
/* side bar end  */
.header{
    background-color:#000;
}
.head{
    display:flex;
    justify-content:space-between;
    align-items: center;
    width:95%;
    margin:0 auto;
}
.log_in a{
    color:#ffffff;
    text-decoration:none;
    font-size:1.5rem;
    padding:0.5rem 2rem;
    transition:1.5s;
}
.log_in a:hover{
    color:#000000;
    background-color:#ffc0ff;
    border-radius:5px;
    box-shadow: 0 0 5px #ffc0ff,
                0 0 25px #ffc0ff,
                0 0 50px #ffc0ff,
                0 0 200px #ffc0ff;
}
.navagation{
    display: flex;
    justify-content: space-between;
    background-color:#191919;
    padding:0.6rem;

}
 .nav{
     width:95%;
    display:flex;
    margin:auto;
    justify-content: space-between;
}
#navBar {
    display: flex;
}
.nav li{
    list-style:none;
}
 .nav li a{
    text-decoration:none;
    margin:0rem 1em;
    padding:0.4rem 1rem;
    border:3px solid #3498db;
    font-size:1.4rem;
    border-radius: 25px;
    transition:all 1.6s;
    color:#808080;
    border:none;
}
.nav li a:hover{
    padding:0.4rem 1.5rem;
    margin:0rem 0.5rem;
    border-color:#2ecc71;
    color:#ffffff;
}
/* Footer Section  */
.footer{
    background-color:#000000;
    color:#ffffff;
    padding:2rem 0rem;
    text-align: center;
}
/* icons header  */
.fa-futbol-o{
    margin-right:0.5rem;
}
.fa-film{
    margin-right:0.5rem;
}
.fa-flag{
    margin-right:0.5rem;
}
.fa-medkit{
    margin-right:0.5rem;
}
.fa-graduation-cap{
    margin-right:0.5rem;
}
.fa-bars{
    color:#ffffff;
    font-size:1.5rem;
}
/* media query  */
@media screen and (max-width:1150px) { /* previews 1150 px */
   .sideBarIcon {
        display:block;
        margin-right:2rem;
    }
    .header {
        position: fixed;
        top:0;
        width:100%;
        height: 100px;
        z-index: 22;
        margin-top:-1rem;
    }
    .logo img {
        width:100px;
    }
    .navagation {
        position: fixed;
        top:84px;
        width:100%;
        z-index: 22;
        margin-bottom:10rem;
    }
    .nav {
    }
    #navBar {
        flex-direction:column;
        position:fixed;
        top:calc(100px + 25px);
        right:0rem;
        justify-content:left;
        background-color:#191919;
        height: 100%;
        z-index: 23;
        width:250px;
        padding-top:1rem;
        transform: translateX(250px);
        transition: transform 350ms ease-in-out;
        /* margin-top:6rem; */
    }
    #check:checked~#navBar {
        transform: rotateX(0);
    }
    #navBar li{
        margin:1rem 0;
    }
    /* this class present in index file  */
    .serarchBar {
        margin-top:10rem;
    }

}

@media screen and (max-width:400px) {
    .container {
        width:99%;
    }
}