
div h1{
    text-align: center;
    /* margin-top:10rem; */
    color:#fff;
    transition: color 1s ease-in-out;
}
div h1:hover {
    color:#2ecc71;
}
body{
    overflow: hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #3d3d3d;
}
#container {
    background-color: #000;
    width:70%;
    margin:2rem auto;
    padding:2rem 1rem;
    border:2px solid #3498db;
}
#container:hover {
    border-color:#2ecc71;
}
form div{
    display:flex;
    flex-direction:column;
    font-size:1.3rem;
}
label{
    /* margin:13px 25%; */
    color:#3498db;
    margin-bottom:0.5rem;
    transition: color 1s ease-in-out;
}
label:hover {
    color:#2ecc71;
}
input{
    font-size:1.3rem;
    margin:0px auto;
    height:2rem;
    border-radius:5px;
    background-color:#000;
    border:2px solid #3498db;
    outline:none;
    color:#fff;
    transition: border,color 1s ease-in-out;
    width:100%;
}
input:focus{ 
    border-color:#2ecc71;
    color:#3498db;
}
#btn{
    display:block;
    margin-top:1rem;
    /* margin-bottom:3rem; */
    align-items: center;
    cursor: pointer;
    transition: border 1s ease-in-out;
}
#btn:hover {
    border-color:#2ecc71;  
}
#textarea{
    width:50%;
    margin:auto;
    font-size:1.3rem;
    outline:none;
}
#textarea:focus{
    border:1px solid #0000ff;
}
#categorySelect{
    font-size:1.3rem;
    width:50%;
    margin:0px auto;
    height:2rem;
    border-radius:5px;
    outline:none;
}
#categorySelect:focus{
    border:1px solid #0000ff;
}
#addCategory{
    margin-bottom:2rem;
}
#file{
    margin-top: 1rem;
    border-radius:5px;
    outline:none;
}
#file:focus{
    border:1px solid #0000ff;
}

/* Index php css */
span:nth-child(1){
    border-bottom: 1px solid #000000;
    width: 21.5%;
    position: relative;
    top: -0.35rem;
    left: 53.5%;

}
span:nth-child(2){
    position: relative;
    top: -1.2rem;
    left: 50%;

}
span:nth-child(3){
    border-bottom: 1px solid #000000;
    width: 23.5%;
    position: relative;
    top: -2rem;
    right: -25.1%;
}
div a{
    text-align: center;
    text-decoration:none;
    margin-top: 1rem;
}
#signUp{
    width:16%;
    margin-top:-0.2rem;
    cursor: pointer;
   margin: auto;
   border:1px solid #000000;
   padding:0.2rem 2rem;
   border-radius:5px;
   background-color: #80808042;
   color:#000000;
}
.warning{
    color: #ff0000;
    position: absolute;
    top: 1rem;
    left: 19.7rem;
    font-size: 1.4rem;
}
#para{
    color: #ff0000;
    margin:auto;
    display:none;
}
/* password eyes login page*/
#open{
    color:#ff0000;
    font-size: 2.4rem;
    position: relative;
    top: -1.04em;
    right: -67rem;
    display:none;
}
#close{
    font-size: 2.4rem;
    position: relative;
    top: -1.04em;
    right: -67rem;
 }
 @media  screen and (max-width:1000px) {
    #table {
        overflow-x: auto;
    }
    #container {
        width:100%;
    }
    input {
        width:100%;
    }
}